.undercover .advices-survey .survey-title svg,.undercover .advices-survey .content .question .mark form button{-webkit-transition:.3s;-o-transition:.3s;transition:.3s}
.problem-item-content .problem-name{text-align:center}.undercover .advices-survey{-webkit-border-radius:20px;border-radius:20px;background:#ecf0f1;padding:40px 40px 25px}
.undercover .advices-survey .survey-title{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-align:start;-webkit-align-items:flex-start;-ms-flex-align:start;align-items:flex-start}
.undercover .advices-survey .survey-title svg{width:52px;min-width:52px;height:auto;margin-top:5px;fill:#2e8bc9;stroke:#2e8bc9;margin-right:70px}
.undercover .advices-survey .survey-title p.title{font-family:Museo700;font-size:28px;line-height:32px;color:black}
.undercover .advices-survey .survey-title p.subtitle{font-size:16px;color:#a5b7c3;margin-top:15px}
.undercover .advices-survey .content{border-top:1px solid #707070;margin-top:35px;padding-top:20px;text-align:center;color:black;font-size:16px;line-height:19px;font-family:Museo300}
.undercover .advices-survey .content .question{display:none;text-align:left;color:black;font-size:16px;font-family:Museo700}
.undercover .advices-survey .content .question-number{margin-bottom:10px}.undercover .advices-survey .content .question .progress-bar{width:100%;height:6px;-webkit-border-radius:7px;border-radius:7px;background:#bdc3c7}
.undercover .advices-survey .content .question .progress-bar .bar{background:#ffc107;-webkit-border-radius:7px;border-radius:7px;height:100%}
.undercover .advices-survey .content .question-text{font-family:Museo700italic;margin-top:25px;line-height:30px}
.undercover .advices-survey .content .question .mark{margin-top:40px}.undercover .advices-survey .content .question .mark p{color:#bdc3c7}
.undercover .advices-survey .content .question .mark form{text-align:center}.undercover .advices-survey .content .question .mark form .line{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-align:start;-webkit-align-items:flex-start;-ms-flex-align:start;align-items:flex-start;-webkit-box-pack:justify;-webkit-justify-content:space-between;-ms-flex-pack:justify;justify-content:space-between}
.undercover .advices-survey .content .question .mark form .line .separator{margin:12px 8px 0;height:1px;width:100%;background:#707070}
.undercover .advices-survey .content .question .mark form .line label{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-align:center;-webkit-align-items:center;-ms-flex-align:center;align-items:center;-webkit-box-orient:vertical;-webkit-box-direction:normal;-webkit-flex-direction:column;-ms-flex-direction:column;flex-direction:column}
.undercover .advices-survey .content .question .mark form .line label input{display:none}
.undercover .advices-survey .content .question .mark form .line label input:checked+div span{width:12px;height:12px;-webkit-border-radius:50%;border-radius:50%;background:#2f8dcb}
.undercover .advices-survey .content .question .mark form .line label div{width:24px;min-width:24px;height:24px;-webkit-border-radius:50%;border-radius:50%;border:4px solid #2f8dcb;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-align:center;-webkit-align-items:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:center;-webkit-justify-content:center;-ms-flex-pack:center;justify-content:center}
.undercover .advices-survey .content .question .mark form .line label p{font-family:Museo700;color:#2f8dcb;margin-top:10px}
.undercover .advices-survey .content .question .mark form button{margin:40px auto 0;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-align:center;-webkit-align-items:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:center;-webkit-justify-content:center;-ms-flex-pack:center;justify-content:center;width:300px;height:60px;-webkit-border-radius:30px;border-radius:30px;font-size:16px;font-family:Museo900;color:white;background:#ff4a39}
.undercover .advices-survey .content .question .mark form button:hover{background:#ffc107}
.undercover .advices-survey .content p{margin-bottom:20px}.undercover .advices-survey.active .survey-title svg{fill:#ff4a39;stroke:#ff4a39}
.undercover .advices-survey.active .survey-title div p.subtitle{display:none}.undercover .advices-survey.active .content .default{display:none}
.undercover .advices-survey.active .content .question-1{display:block}