main.inner-page .cover .flex form button{position:absolute;top:50%;-webkit-transform:translateY(-50%);-ms-transform:translateY(-50%);transform:translateY(-50%)}
main.inner-page .cover .flex form button{-webkit-transition:.3s;-o-transition:.3s;transition:.3s}
main.inner-page .cover .flex form{position:relative}main.inner-page .cover .flex form button{position:absolute;width:94px;height:50px;-webkit-border-radius:25px;border-radius:25px;right:5px;background:#ff4a39;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-align:center;-webkit-align-items:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:center;-webkit-justify-content:center;-ms-flex-pack:center;justify-content:center}
main.inner-page .cover .flex form button:hover{background:#ffc107}main.inner-page .cover .flex form button img{width:30px}
main.inner-page .cover .flex form input{padding:0 100px 0 30px;font-size:24px;width:700px;height:60px;-webkit-border-radius:30px;border-radius:30px;background:white}