.cover-insert,.cover-insert .right .city a{-webkit-box-shadow:0 3px 6px rgba(35,42,54,0.32);box-shadow:0 3px 6px rgba(35,42,54,0.32)}
.cover-insert .right .city a:hover{-webkit-box-shadow:0 3px 6px transparent;box-shadow:0 3px 6px transparent}
.cover-insert .right form button{position:absolute;top:50%;-webkit-transform:translateY(-50%);-ms-transform:translateY(-50%);transform:translateY(-50%)}
.cover-insert .right .city a{-webkit-transition:.3s;-o-transition:.3s;transition:.3s}
.cover{padding:55px 0 350px;background:white url(../img/index/chernigiv.jpg) no-repeat bottom center}
.cover-insert{margin:0 auto;width:1500px;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-align:center;-webkit-align-items:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:end;-webkit-justify-content:flex-end;-ms-flex-pack:end;justify-content:flex-end;-webkit-border-radius:15px;border-radius:15px;background:-webkit-gradient(linear,left bottom,left top,from(#ecf0f1),to(#e4e4e4));background:-webkit-linear-gradient(bottom,#ecf0f1 0,#e4e4e4 100%);background:-o-linear-gradient(bottom,#ecf0f1 0,#e4e4e4 100%);background:linear-gradient(0,#ecf0f1 0,#e4e4e4 100%);padding:25px 45px 10px 0}
.cover-insert .right{margin-left:110px;width:600px;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-align:start;-webkit-align-items:flex-start;-ms-flex-align:start;align-items:flex-start;-webkit-box-pack:justify;-webkit-justify-content:space-between;-ms-flex-pack:justify;justify-content:space-between;-webkit-flex-wrap:wrap;-ms-flex-wrap:wrap;flex-wrap:wrap}
.cover-insert .right .info p{font-size:20px}.cover-insert .right .info p.number{font-family:Museo900;font-size:55px;line-height:55px;color:#2980b9}
.cover-insert .right .info-item+.info-item{margin-top:32px}.cover-insert .right .city{width:270px}
.cover-insert .right .city p{color:#2980b9;font-size:25px;margin-bottom:20px}.cover-insert .right .city input{margin-bottom:30px;width:100%;height:46px}
.cover-insert .right .city a{color:white;font-family:Museo700;text-transform:uppercase;-webkit-border-radius:5px;border-radius:5px;width:100%;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-align:center;-webkit-align-items:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:center;-webkit-justify-content:center;-ms-flex-pack:center;justify-content:center}
.cover-insert .right .city a.go-to{background:-webkit-gradient(linear,left top,right top,from(#37b8e8),to(#0890c4));background:-webkit-linear-gradient(left,#37b8e8 0,#0890c4 100%);background:-o-linear-gradient(left,#37b8e8 0,#0890c4 100%);background:linear-gradient(90deg,#37b8e8 0,#0890c4 100%);height:50px;margin-bottom:35px}
.cover-insert .right .city a.go-to:hover{background:-webkit-gradient(linear,left top,right top,from(#0890c4),to(#37b8e8));background:-webkit-linear-gradient(left,#0890c4 0,#37b8e8 100%);background:-o-linear-gradient(left,#0890c4 0,#37b8e8 100%);background:linear-gradient(90deg,#0890c4 0,#37b8e8 100%)}
.cover-insert .right .city a.add-problem{height:84px;background:-webkit-gradient(linear,left bottom,left top,from(#e74c3c),to(#c0392b));background:-webkit-linear-gradient(bottom,#e74c3c 0,#c0392b 100%);background:-o-linear-gradient(bottom,#e74c3c 0,#c0392b 100%);background:linear-gradient(0,#e74c3c 0,#c0392b 100%)}
.cover-insert .right .city a.add-problem img{margin-right:25px}.cover-insert .right .city a.add-problem:hover{background:-webkit-gradient(linear,left bottom,left top,from(#c0392b),to(#e74c3c));background:-webkit-linear-gradient(bottom,#c0392b 0,#e74c3c 100%);background:-o-linear-gradient(bottom,#c0392b 0,#e74c3c 100%);background:linear-gradient(0,#c0392b 0,#e74c3c 100%)}
.cover-insert .right form{min-width:100%;margin-top:25px}.cover-insert .right form input{width:100%;height:70px}
.cover-insert .right form button{right:0;padding:0 30px;border-left:1px solid #707070;z-index:1}
.latest{padding:110px 0;background:#ecf0f1}.latest .container .latest-title{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-align:center;-webkit-align-items:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:center;-webkit-justify-content:center;-ms-flex-pack:center;justify-content:center;margin-bottom:80px}
.latest .container .latest-title span{width:300px;height:1px;background:#7f8c8d;display:block}
.latest .container .latest-title p{width:360px;font-size:20px;color:#7f8c8d;text-align:center;text-transform:uppercase}
.latest .container .latest-item+.latest-item{margin-top:70px}.latest .container .latest-item .problems-list{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-align:start;-webkit-align-items:flex-start;-ms-flex-align:start;align-items:flex-start;-webkit-box-pack:justify;-webkit-justify-content:space-between;-ms-flex-pack:justify;justify-content:space-between}