.choosed-initiatives .create,.choosed-initiatives .choosed-initiative,.create-initiative form button{-webkit-box-shadow:0 3px 6px rgba(35,42,54,0.32);box-shadow:0 3px 6px rgba(35,42,54,0.32)}
.create-initiative form button:hover{-webkit-box-shadow:0 3px 6px transparent;box-shadow:0 3px 6px transparent}
.choosed-initiatives{margin:0 0 30px;background:#ecf0f1}.choosed-initiatives .create{background:white;padding:20px;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-align:center;-webkit-align-items:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:justify;-webkit-justify-content:space-between;-ms-flex-pack:justify;justify-content:space-between;position:relative;top:-49px}
.choosed-initiatives .create .numbers{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-align:center;-webkit-align-items:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:start;-webkit-justify-content:flex-start;-ms-flex-pack:start;justify-content:flex-start}
.choosed-initiatives .create .numbers img{margin-right:20px}.choosed-initiatives .create .numbers p{letter-spacing:.03em}
.choosed-initiatives .create .numbers p.number{font-family:Museo900;font-size:40px;color:#2c3e50;margin-right:10px}
.choosed-initiatives .create .numbers p.descr{color:#95a5a6;font-family:Museo300;font-size:14px}
.choosed-initiatives .title{text-align:center;margin-bottom:20px;color:#2c3e50;font-family:Museo700;font-size:60px;line-height:72px}
.choosed-initiatives .initiatives-list{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-align:start;-webkit-align-items:flex-start;-ms-flex-align:start;align-items:flex-start;-webkit-box-pack:justify;-webkit-justify-content:space-between;-ms-flex-pack:justify;justify-content:space-between}
.choosed-initiatives .choosed-initiative{background:#fff;margin-bottom:20px;-webkit-border-radius:4px;border-radius:4px;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex}
.choosed-initiatives .choosed-initiative .image{-webkit-border-radius:4px 0 0 4px;border-radius:4px 0 0 4px;overflow:hidden;width:430px;min-width:430px}
.choosed-initiatives .choosed-initiative .image a{display:none;line-height:0}.choosed-initiatives .choosed-initiative .image a.cover-img{display:block}
.choosed-initiatives .choosed-initiative .descr{width:400px;min-width:400px;margin-left:40px;padding:10px 0}
.choosed-initiatives .choosed-initiative .descr p{font-family:Museo300;font-size:16px;color:#2c3e50;line-height:18px;text-align:left}
.choosed-initiatives .choosed-initiative .descr p.title{font-family:Museo700;font-size:26px;line-height:30px;margin-bottom:25px}
.choosed-initiatives .choosed-initiative .descr .progress-bar{margin-top:40px;margin-bottom:10px;width:100%;height:6px;-webkit-border-radius:7px;border-radius:7px;background:#2c3e50}
.choosed-initiatives .choosed-initiative .descr .progress-bar .bar{background:#ffc107;-webkit-border-radius:7px;border-radius:7px;height:100%}
.choosed-initiatives .choosed-initiative .descr .flex{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-align:center;-webkit-align-items:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:justify;-webkit-justify-content:space-between;-ms-flex-pack:justify;justify-content:space-between}
.choosed-initiatives .choosed-initiative .descr .flex+.flex{margin-top:15px}.choosed-initiatives .choosed-initiative .descr .flex p{color:#7f8c8d;font-family:Museo500}
.choosed-initiatives .choosed-initiative .descr .flex p span{font-family:Museo900;font-size:14px}
.choosed-initiatives .choosed-initiative .descr .flex a.user{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-align:center;-webkit-align-items:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:start;-webkit-justify-content:flex-start;-ms-flex-pack:start;justify-content:flex-start}
.choosed-initiatives .choosed-initiative .descr .flex a.user .avatar{margin-right:10px;-webkit-border-radius:50%;border-radius:50%;width:32px;height:32px;overflow:hidden}
.choosed-initiatives .choosed-initiative .descr .flex a.user p.name{font-family:Museo500;font-size:12px;text-decoration:underline}
.choosed-initiatives .choosed-initiative .descr .flex a.user:hover p.name{text-decoration:none}
.choosed-initiatives .choosed-initiative .descr .flex a.btn{color:white;font-family:Museo700;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-align:center;-webkit-align-items:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:center;-webkit-justify-content:center;-ms-flex-pack:center;justify-content:center;width:170px;height:40px;-webkit-border-radius:20px;border-radius:20px;background:#1abc9c}
.create-initiative{padding-top:15px}.create-initiative form{padding-bottom:55px}.create-initiative form button{background:-webkit-gradient(linear,left top,right top,from(#37b8e8),to(#0890c4));background:-webkit-linear-gradient(left,#37b8e8 0,#0890c4 100%);background:-o-linear-gradient(left,#37b8e8 0,#0890c4 100%);background:linear-gradient(90deg,#37b8e8 0,#0890c4 100%);width:400px;height:90px;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-align:center;-webkit-align-items:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:center;-webkit-justify-content:center;-ms-flex-pack:center;justify-content:center;-webkit-border-radius:5px;border-radius:5px;margin:0 auto;font-size:25px;color:white;font-family:Museo700}
.create-initiative form button:hover{background:-webkit-gradient(linear,left top,right top,from(#0890c4),to(#37b8e8));background:-webkit-linear-gradient(left,#0890c4 0,#37b8e8 100%);background:-o-linear-gradient(left,#0890c4 0,#37b8e8 100%);background:linear-gradient(90deg,#0890c4 0,#37b8e8 100%)}
.create-initiative form .flex{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;border-bottom:1px solid #eaecec;margin-bottom:80px}
.create-initiative form .flex .fields{width:-webkit-calc(100% - 15px - 15px - 320px - 15px);width:calc(100% - 15px - 15px - 320px - 15px);padding-top:25px;padding-bottom:40px}
.create-initiative form .flex .fields p.title{font-family:Museo700;font-size:50px;line-height:50px;color:#2c3e50;margin-bottom:25px}
.create-initiative form .flex .fields .form-item label{font-family:Museo300;font-size:14px;color:#7f8c8d;cursor:pointer}
.create-initiative form .flex .fields .form-item label input{-webkit-box-shadow:none;box-shadow:none;margin-right:10px}
.create-initiative form .flex .fields .form-item label a{color:#2980b9}.create-initiative form .flex .fields .form-item label a:hover{text-decoration:underline}
.create-initiative form .flex .fields .form-item.file-upload{-webkit-border-radius:5px;border-radius:5px;background:#f0f2f8;border:1px solid #abb0c7;height:400px;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-align:center;-webkit-align-items:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:center;-webkit-justify-content:center;-ms-flex-pack:center;justify-content:center}
.create-initiative form .flex .fields .form-item.file-upload .insert{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-align:center;-webkit-align-items:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:center;-webkit-justify-content:center;-ms-flex-pack:center;justify-content:center}
.create-initiative form .flex .fields .form-item.file-upload .insert img{margin-right:50px}
.create-initiative form .flex .fields .form-item.file-upload .insert p{text-align:center;font-size:18px;color:#43425d;font-family:Museo300}
.create-initiative form .flex .fields .form-item.file-upload .insert p span{font-size:10px}
.create-initiative form .flex .fields .form-item.file-upload .insert p span a{color:#3b86ff;text-decoration:underline}
.create-initiative form .flex .fields .form-item.file-upload .insert p span a:hover{text-decoration:none}
.create-initiative form .flex .fields .form-item p.item-title{font-size:26px;line-height:30px;color:#2c3e50;margin-bottom:5px}
.create-initiative form .flex .fields .form-item p.item-subtitle{color:#2c3e50;margin-bottom:5px}
.create-initiative form .flex .fields .form-item p.descr{margin-bottom:10px;font-family:Museo300;font-size:14px;color:#95a5a6}
.create-initiative form .flex .fields .form-item input[type=text]{border:1px solid #abb0c7;width:100%;height:32px;-webkit-box-shadow:none;box-shadow:none;-webkit-border-radius:0;border-radius:0}
.create-initiative form .flex .fields .form-item textarea{resize:none;border:1px solid #abb0c7;width:100%;height:130px;padding:15px}
.create-initiative form .flex .fields .form-item+.form-item{margin-top:25px}.create-initiative form .flex .preview{margin-left:15px;background:#eaecec;padding:20px 15px}
.create-initiative form .flex .preview-item{-webkit-border-radius:5px;border-radius:5px;background:white;padding:10px;width:320px}
.create-initiative form .flex .preview-item .img-container{background:#eaecec;height:160px;margin-bottom:75px;width:100%}
.create-initiative form .flex .preview-item p.date{font-size:14px;font-family:Museo300}
.create-initiative form .flex .preview-item-footer{margin-top:5px;padding-top:8px;border-top:1px solid #eaecec}
.create-initiative form .flex .preview-item-footer a.user{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-align:center;-webkit-align-items:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:start;-webkit-justify-content:flex-start;-ms-flex-pack:start;justify-content:flex-start}
.create-initiative form .flex .preview-item-footer a.user .avatar{margin-right:10px;-webkit-border-radius:50%;border-radius:50%;width:32px;height:32px;overflow:hidden}
.create-initiative form .flex .preview-item-footer a.user p.name{font-family:Museo500;font-size:17px;color:#bdc3c7}
.create-initiative form .flex .preview-item-footer a.user:hover p.name{text-decoration:underline}