.types,.types .type .dropdown,.add-problem-item a{-webkit-box-shadow:0 3px 6px rgba(35,42,54,0.32);box-shadow:0 3px 6px rgba(35,42,54,0.32)}
.add-problem-item a:hover{-webkit-box-shadow:0 3px 6px transparent;box-shadow:0 3px 6px transparent}
form.find-problem button{position:absolute;top:50%;-webkit-transform:translateY(-50%);-ms-transform:translateY(-50%);transform:translateY(-50%)}
body{padding-top:0}.types{background:#f1c40f;height:140px;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-align:center;-webkit-align-items:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:center;-webkit-justify-content:center;-ms-flex-pack:center;justify-content:center}
.types .type{background:#fff;width:-webkit-calc((100vw * .6) / 10);width:calc((100vw * .6) / 10);height:-webkit-calc((100vw * .6) / 10);height:calc((100vw * .6) / 10);display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-orient:vertical;-webkit-box-direction:normal;-webkit-flex-direction:column;-ms-flex-direction:column;flex-direction:column;-webkit-box-align:center;-webkit-align-items:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:end;-webkit-justify-content:flex-end;-ms-flex-pack:end;justify-content:flex-end;padding:8px;-webkit-border-radius:2px;border-radius:2px}
.types .type .dropdown{z-index:1;position:absolute;display:none;background:#ecf0f1;border:1px solid #f2c926;padding:20px 30px;top:-webkit-calc(((100vw * .6) / 10) + 20px);top:calc(((100vw * .6) / 10) + 20px);right:0}
.types .type .dropdown:before{position:absolute;height:20px;width:100%;content:'';display:block;top:-20px}
.types .type .dropdown a{font-family:Museo700;font-size:16px;color:#2980b9;text-decoration:underline;display:block}
.types .type .dropdown a+a{margin-top:10px}.types .type .dropdown a:hover{text-decoration:none}
.types .type:hover .dropdown{display:block}.types .type-icon{height:40px;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-align:center;-webkit-align-items:center;-ms-flex-align:center;align-items:center;margin-bottom:12px}
.types .type p{height:2.4em;line-height:1.2em;text-align:center;font-size:10px;color:#2c3e50;text-transform:uppercase}
.types .type+.type{margin-left:30px}form.find-problem{width:1100px;margin:0 auto}
form.find-problem input{-webkit-border-radius:2px;border-radius:2px;width:100%;height:70px;padding:0 40px;font-size:20px;background:#ecf0f1}
form.find-problem button{background:#2980b9;width:140px;height:100%;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-align:center;-webkit-align-items:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:center;-webkit-justify-content:center;-ms-flex-pack:center;justify-content:center;-webkit-border-radius:0 2px 2px 0;border-radius:0 2px 2px 0;right:0}
.latest{padding:30px 0 100px}.latest .container .latest-title{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-align:center;-webkit-align-items:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:center;-webkit-justify-content:center;-ms-flex-pack:center;justify-content:center;margin-bottom:40px}
.latest .container .latest-title span{width:300px;height:1px;background:#7f8c8d;display:block}
.latest .container .latest-title p{width:360px;font-size:20px;color:#7f8c8d;text-align:center;text-transform:uppercase}
.latest .container .latest-item .problems-list{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-align:start;-webkit-align-items:flex-start;-ms-flex-align:start;align-items:flex-start;-webkit-box-pack:justify;-webkit-justify-content:space-between;-ms-flex-pack:justify;justify-content:space-between;-webkit-flex-wrap:wrap;-ms-flex-wrap:wrap;flex-wrap:wrap}
.add-problem-item{background:url("../img/add-problem.jpg") no-repeat center;-webkit-background-size:cover;background-size:cover;height:390px;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-orient:vertical;-webkit-box-direction:normal;-webkit-flex-direction:column;-ms-flex-direction:column;flex-direction:column;-webkit-box-align:center;-webkit-align-items:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:space-evenly;-webkit-justify-content:space-evenly;-ms-flex-pack:space-evenly;justify-content:space-evenly}
.add-problem-item p{font-size:14px;color:white;text-align:center}.add-problem-item a{text-transform:uppercase;width:240px;height:50px;-webkit-border-radius:8px;border-radius:8px;background:#f2c926;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-align:center;-webkit-align-items:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:center;-webkit-justify-content:center;-ms-flex-pack:center;justify-content:center;color:white;font-size:16px}
.problem-item:nth-child(6n){margin-left:0}