main .container>div,main .container .tabs ul,main .container .tabs .tab .item.signs-buttons a,main .container .tabs .tab .item.sign-item:nth-child(2n){-webkit-box-shadow:0 3px 6px rgba(35,42,54,0.32);box-shadow:0 3px 6px rgba(35,42,54,0.32)}
main .container .for-map a.modal-add-problem-init{position:absolute;left:50%;-webkit-transform:translateX(-50%);-ms-transform:translateX(-50%);transform:translateX(-50%)}
main .container .tabs ul li a{-webkit-transition:.3s;-o-transition:.3s;transition:.3s}
main{padding-bottom:60px;background-color:#ecf0f1}main .container{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-align:stretch;-webkit-align-items:stretch;-ms-flex-align:stretch;align-items:stretch}
main .container>div+div{margin-left:24px}main .container .info{width:31%;padding:50px 30px;background:#fff}
main .container .info a.back{font-size:14px;font-family:Museo300;color:#a8a8a8;margin-bottom:30px;display:block}
main .container .info a.back:hover{text-decoration:underline}main .container .info .flex-with-qr{margin:0 0 30px;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-align:start;-webkit-align-items:flex-start;-ms-flex-align:start;align-items:flex-start;-webkit-box-pack:justify;-webkit-justify-content:space-between;-ms-flex-pack:justify;justify-content:space-between}
main .container .info .flex-with-qr p{color:#040404}main .container .info .flex-with-qr p.problem-number{font-family:Museo700;font-size:20px}
main .container .info .flex-with-qr p.problem-name{font-family:Museo300;font-size:20px}
main .container .info .flex-with-qr p.problem-address{font-family:Museo300;font-size:14px;color:#bdc3c7}
main .container .info .flex-with-qr p.problem-address img{margin-right:5px}main .container .info .flex-with-qr p+p{margin-top:20px}
main .container .info .problem-text{font-size:14px;font-family:Museo700;color:#2c3e50;margin-bottom:10px}
main .container .info .problem-text-more{font-size:14px;font-family:Museo700;color:#2980b9;text-decoration:underline}
main .container .info .problem-text-more:hover{text-decoration:none}main .container .info .problem-buttons{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;margin-top:20px}
main .container .info .problem-buttons a{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-align:center;-webkit-align-items:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:center;-webkit-justify-content:center;-ms-flex-pack:center;justify-content:center;color:white;width:210px;height:50px;-webkit-border-radius:5px;border-radius:5px;font-size:16px;font-family:Museo300}
main .container .info .problem-buttons a.greenlight-button{background:#1abc9c}main .container .info .problem-buttons a.green-button{background:#16a085}
main .container .info .problem-buttons a.yellow-button{background:#ffc107}main .container .info .problem-buttons a.orange-button{background:#ff4800}
main .container .info .problem-buttons a+a{margin-left:10px}main .container .info .problem-creator{border-top:1px solid #707070;margin-top:10px;padding-top:20px}
main .container .info .problem-creator-flex{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-align:center;-webkit-align-items:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:justify;-webkit-justify-content:space-between;-ms-flex-pack:justify;justify-content:space-between}
main .container .info .problem-creator-flex .problem-social{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-align:center;-webkit-align-items:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:justify;-webkit-justify-content:space-between;-ms-flex-pack:justify;justify-content:space-between}
main .container .info .problem-creator-flex .problem-social a+a{margin-left:9px}main .container .info .problem-creator-flex .user{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-align:center;-webkit-align-items:center;-ms-flex-align:center;align-items:center}
main .container .info .problem-creator-flex .user .avatar{width:45px;height:45px;-webkit-border-radius:50%;border-radius:50%;margin-right:5px}
main .container .info .problem-creator-flex .user p{font-size:14px;font-family:Museo500}
main .container .info .problem-creator-flex .user p.user-name{color:#2c3e50}main .container .info .problem-creator-flex .user p.problem-time{color:#bdc3c7}
main .container .info .problem-creator .counter-list{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-orient:vertical;-webkit-box-direction:normal;-webkit-flex-direction:column;-ms-flex-direction:column;flex-direction:column;margin:40px 0}
main .container .info .problem-creator .counter-list a{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-align:start;-webkit-align-items:flex-start;-ms-flex-align:start;align-items:flex-start;padding-left:30px;font-family:Museo500;font-size:14px;color:#2980b9}
main .container .info .problem-creator .counter-list a+a{margin-top:15px}main .container .info .problem-creator .counter-list a span{margin-right:20px;width:30px;text-align:right}
main .container .info .problem-creator .problems-photos p{cursor:pointer;position:absolute;top:0;width:100%;background:rgba(0,0,0,0.75);height:50px;color:white;z-index:1;padding:0 15px;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-align:center;-webkit-align-items:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:justify;-webkit-justify-content:space-between;-ms-flex-pack:justify;justify-content:space-between}
main .container .info .problem-creator .problems-photos p span:hover{text-decoration:underline}
main .container .info .problem-creator .problems-photos a{float:left;width:100%;line-height:0;display:none}
main .container .info .problem-creator .problems-photos a img{width:100%}main .container .info .problem-creator .problems-photos a.cover-img{display:block}
main .container .tabs{width:43%;background-color:#fff}main .container .tabs ul{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-align:center;-webkit-align-items:center;-ms-flex-align:center;align-items:center;z-index:1}
main .container .tabs ul li{width:50%}main .container .tabs ul li+li{border-left:1px solid #707070}
main .container .tabs ul li a{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-align:center;-webkit-align-items:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:center;-webkit-justify-content:center;-ms-flex-pack:center;justify-content:center;width:100%;height:50px;color:#bdc3c7;font-family:Museo700}
main .container .tabs ul li.ui-tabs-active a{color:#2c3e50}main .container .tabs .tab.signs{height:-webkit-calc(100% - 50px);height:calc(100% - 50px)}
main .container .tabs .tab.signs .signs-list{max-height:840px}main .container .tabs .tab form.item{-webkit-box-align:start;-webkit-align-items:flex-start;-ms-flex-align:start;align-items:flex-start;background:white}
main .container .tabs .tab form p{font-family:Museo300;font-size:20px;color:#2c3e50}
main .container .tabs .tab form p span{margin-left:20px;color:#bdc3c7;font-size:20px}
main .container .tabs .tab form textarea{padding:15px 20px;-webkit-border-radius:5px;border-radius:5px;width:100%;resize:none;height:100px;border:1px solid #bdc3c7;margin-top:15px;font-size:14px;font-family:Museo300}
main .container .tabs .tab form button{margin-top:15px;background:#2980b9;color:white;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-align:center;-webkit-align-items:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:center;-webkit-justify-content:center;-ms-flex-pack:center;justify-content:center;width:264px;height:54px;-webkit-border-radius:5px;border-radius:5px;background:#2980b9;font-size:16px;font-family:Museo300}
main .container .tabs .tab .item{background:#f7f7f7;padding:30px 40px;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-orient:vertical;-webkit-box-direction:normal;-webkit-flex-direction:column;-ms-flex-direction:column;flex-direction:column;-webkit-box-align:end;-webkit-align-items:flex-end;-ms-flex-align:end;align-items:flex-end}
main .container .tabs .tab .item .progress{background:#2980b9;color:white;text-align:center;padding:25px 30px;margin-top:45px;width:-webkit-calc(100% - 55px - 10px);width:calc(100% - 55px - 10px)}
main .container .tabs .tab .item .progress .progress-bar{width:100%;height:10px;-webkit-border-radius:4px;border-radius:4px;background:#fff;margin-top:15px}
main .container .tabs .tab .item .progress .progress-bar .bar{background:#ffc107;-webkit-border-radius:4px;border-radius:4px;height:100%}
main .container .tabs .tab .item.signs-buttons{background:#f7f7f7 !important;padding:20px;height:-webkit-calc(100% - 840px);height:calc(100% - 840px)}
main .container .tabs .tab .item.signs-buttons .insert{-webkit-box-pack:justify;-webkit-justify-content:space-between;-ms-flex-pack:justify;justify-content:space-between}
main .container .tabs .tab .item.signs-buttons a{background:-webkit-gradient(linear,left top,right top,from(#37b8e8),to(#0890c4));background:-webkit-linear-gradient(left,#37b8e8 0,#0890c4 100%);background:-o-linear-gradient(left,#37b8e8 0,#0890c4 100%);background:linear-gradient(90deg,#37b8e8 0,#0890c4 100%);height:36px;color:white;-webkit-border-radius:5px;border-radius:5px;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-align:center;-webkit-align-items:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:center;-webkit-justify-content:center;-ms-flex-pack:center;justify-content:center;min-width:36px;padding:5px 10px}
main .container .tabs .tab .item.signs-buttons a span{margin-right:25px}main .container .tabs .tab .item.signs-buttons a:hover{background:-webkit-gradient(linear,left top,right top,from(#0890c4),to(#37b8e8));background:-webkit-linear-gradient(left,#0890c4 0,#37b8e8 100%);background:-o-linear-gradient(left,#0890c4 0,#37b8e8 100%);background:linear-gradient(90deg,#0890c4 0,#37b8e8 100%)}
main .container .tabs .tab .item.signs-buttons a.back img{-webkit-transform:rotate(180deg);-ms-transform:rotate(180deg);transform:rotate(180deg)}
main .container .tabs .tab .item.sign-item{padding:10px 20px}main .container .tabs .tab .item.sign-item:nth-child(2n){z-index:1}
main .container .tabs .tab .item.sign-item .insert{-webkit-box-align:center;-webkit-align-items:center;-ms-flex-align:center;align-items:center;color:#2c3e50;font-size:16px}
main .container .tabs .tab .item.sign-item .insert .icon{margin-top:0;margin-left:0}
main .container .tabs .tab .item.sign-item .insert .name{width:-webkit-calc((100% - 50px - 20px) * .6);width:calc((100% - 50px - 20px) * .6)}
main .container .tabs .tab .item.sign-item .insert .sign-date{width:-webkit-calc((100% - 50px - 20px) * .4);width:calc((100% - 50px - 20px) * .4);text-align:right}
main .container .tabs .tab .item .insert{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;min-width:100%}
main .container .tabs .tab .item .insert .date{font-family:Museo700;font-size:14px;color:#2c3e50;min-width:55px}
main .container .tabs .tab .item .insert .icon{-webkit-border-radius:50%;border-radius:50%;min-width:50px;width:50px;height:50px;margin:-5px 20px 0 10px;overflow:hidden}
main .container .tabs .tab .item .insert .text{font-family:Museo300;font-size:14px;color:#2c3e50;min-width:-webkit-calc(100% - 55px - 10px - 50px - 20px);min-width:calc(100% - 55px - 10px - 50px - 20px)}
main .container .tabs .tab .item:nth-child(2n){background:white}main .container .for-map{width:26%}
main .container .for-map a.modal-add-problem-init{background:#2980b9;height:45px;width:300px;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-align:center;-webkit-align-items:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:center;-webkit-justify-content:center;-ms-flex-pack:center;justify-content:center;top:40px;color:white}
main .container .for-map #map-problem{height:100%}