main{background:#ecf0f1}.middle-main .middle-main-title{margin-bottom:20px}.middle-main .user-problems-list{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-flex-wrap:wrap;-ms-flex-wrap:wrap;flex-wrap:wrap;-webkit-box-pack:justify;-webkit-justify-content:space-between;-ms-flex-pack:justify;justify-content:space-between}
.middle-main .user-problems-list .problem-item:nth-child(4n){margin-left:0}.left-sidebar .user-container{background:#fff;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-orient:vertical;-webkit-box-direction:normal;-webkit-flex-direction:column;-ms-flex-direction:column;flex-direction:column;padding:30px 15px 95px;-webkit-box-align:center;-webkit-align-items:center;-ms-flex-align:center;align-items:center;justify-contnent:flex-start}
.left-sidebar .user-container .user-avatar{width:90px;height:90px;margin-bottom:30px;-webkit-border-radius:50%;border-radius:50%;overflow:hidden}
.left-sidebar .user-container .user-name{font-size:20px;color:#2c3e50}.left-sidebar .user-container .city{font-size:34px;color:#2c3e50;line-height:1em;margin-top:12px}
.left-sidebar .counter{margin-top:30px;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-align:start;-webkit-align-items:flex-start;-ms-flex-align:start;align-items:flex-start;padding-left:40px;font-family:Museo300;font-size:16px;color:#2c3e50}
.left-sidebar .counter span{margin-right:12px;width:30px;text-align:right;font-size:25px}