main.inner-page .cover .flex a{-webkit-transition:.3s;-o-transition:.3s;transition:.3s}
main .initiatives-container{width:1130px}main.inner-page .undercover{color:white}
main.inner-page .undercover .title{font-size:40px;font-family:Museo900;margin-bottom:40px;line-height:40px;text-align:center}
main.inner-page .undercover .defendant{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-align:center;-webkit-align-items:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:center;-webkit-justify-content:center;-ms-flex-pack:center;justify-content:center}
main.inner-page .undercover .defendant .text p{font-size:25px;font-family:Museo700;color:#d9dee0}
main.inner-page .undercover .defendant .text p.name{color:white;margin-bottom:10px}
main.inner-page .undercover .defendant .avatar{width:99px;height:99px;-webkit-border-radius:50%;border-radius:50%;overflow:hidden;margin-right:20px}
main.inner-page .cover .flex .number-item{width:auto}main.inner-page .cover .flex a{width:380px;height:60px;-webkit-border-radius:30px;border-radius:30px;background:#ff4a39;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-align:center;-webkit-align-items:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:center;-webkit-justify-content:center;-ms-flex-pack:center;justify-content:center;font-size:20px;font-family:Museo700;color:white}
main.inner-page .cover .flex a svg{margin-right:20px;width:18px;height:auto;fill:white}
main.inner-page .cover .flex a:hover{background:#ffc107}main.inner-page .for-tabs .tabs .tab .item .content .text .title{font-size:25px;font-family:Museo500;line-height:31px;color:#2c86c2}
main.inner-page .for-tabs .tabs .tab .item .content .text .description{font-family:Museo500;font-size:25px;line-height:31px;margin-top:20px}