@font-face
	font-family: Museo100
	src: url("../fonts/MuseoSansCyrl/MuseoSansCyrl-100.eot")
	src: url("../fonts/MuseoSansCyrl/MuseoSansCyrl-100.eot?#iefix")format("embedded-opentype"), url("../fonts/MuseoSansCyrl/MuseoSansCyrl-100.woff") format("woff"), url("../fonts/MuseoSansCyrl/MuseoSansCyrl-100.ttf") format("truetype")
	font-style: normal
	font-weight: normal

@font-face
	font-family: Museo100italic
	src: url("../fonts/MuseoSansCyrl/MuseoSansCyrl-100italic.eot")
	src: url("../fonts/MuseoSansCyrl/MuseoSansCyrl-100italic.eot?#iefix")format("embedded-opentype"), url("../fonts/MuseoSansCyrl/MuseoSansCyrl-100italic.woff") format("woff"), url("../fonts/MuseoSansCyrl/MuseoSansCyrl-100italic.ttf") format("truetype")
	font-style: normal
	font-weight: normal

@font-face
	font-family: Museo300
	src: url("../fonts/MuseoSansCyrl/MuseoSansCyrl-300.eot")
	src: url("../fonts/MuseoSansCyrl/MuseoSansCyrl-300.eot?#iefix")format("embedded-opentype"), url("../fonts/MuseoSansCyrl/MuseoSansCyrl-300.woff") format("woff"), url("../fonts/MuseoSansCyrl/MuseoSansCyrl-300.ttf") format("truetype")
	font-style: normal
	font-weight: normal

@font-face
	font-family: Museo300italic
	src: url("../fonts/MuseoSansCyrl/MuseoSansCyrl-300italic.eot")
	src: url("../fonts/MuseoSansCyrl/MuseoSansCyrl-300italic.eot?#iefix")format("embedded-opentype"), url("../fonts/MuseoSansCyrl/MuseoSansCyrl-300italic.woff") format("woff"), url("../fonts/MuseoSansCyrl/MuseoSansCyrl-300italic.ttf") format("truetype")
	font-style: normal
	font-weight: normal

@font-face
	font-family: Museo500
	src: url("../fonts/MuseoSansCyrl/MuseoSansCyrl-500.eot")
	src: url("../fonts/MuseoSansCyrl/MuseoSansCyrl-500.eot?#iefix")format("embedded-opentype"), url("../fonts/MuseoSansCyrl/MuseoSansCyrl-500.woff") format("woff"), url("../fonts/MuseoSansCyrl/MuseoSansCyrl-500.ttf") format("truetype")
	font-style: normal
	font-weight: normal

@font-face
	font-family: Museo500italic
	src: url("../fonts/MuseoSansCyrl/MuseoSansCyrl-500italic.eot")
	src: url("../fonts/MuseoSansCyrl/MuseoSansCyrl-500italic.eot?#iefix")format("embedded-opentype"), url("../fonts/MuseoSansCyrl/MuseoSansCyrl-500italic.woff") format("woff"), url("../fonts/MuseoSansCyrl/MuseoSansCyrl-500italic.ttf") format("truetype")
	font-style: normal
	font-weight: normal

@font-face
	font-family: Museo700
	src: url("../fonts/MuseoSansCyrl/MuseoSansCyrl-700.eot")
	src: url("../fonts/MuseoSansCyrl/MuseoSansCyrl-700.eot?#iefix")format("embedded-opentype"), url("../fonts/MuseoSansCyrl/MuseoSansCyrl-700.woff") format("woff"), url("../fonts/MuseoSansCyrl/MuseoSansCyrl-700.ttf") format("truetype")
	font-style: normal
	font-weight: normal

@font-face
	font-family: Museo700italic
	src: url("../fonts/MuseoSansCyrl/MuseoSansCyrl-700italic.eot")
	src: url("../fonts/MuseoSansCyrl/MuseoSansCyrl-700italic.eot?#iefix")format("embedded-opentype"), url("../fonts/MuseoSansCyrl/MuseoSansCyrl-700italic.woff") format("woff"), url("../fonts/MuseoSansCyrl/MuseoSansCyrl-700italic.ttf") format("truetype")
	font-style: normal
	font-weight: normal

@font-face
	font-family: Museo900
	src: url("../fonts/MuseoSansCyrl/MuseoSansCyrl-900.eot")
	src: url("../fonts/MuseoSansCyrl/MuseoSansCyrl-900.eot?#iefix")format("embedded-opentype"), url("../fonts/MuseoSansCyrl/MuseoSansCyrl-900.woff") format("woff"), url("../fonts/MuseoSansCyrl/MuseoSansCyrl-900.ttf") format("truetype")
	font-style: normal
	font-weight: normal

@font-face
	font-family: Museo900italic
	src: url("../fonts/MuseoSansCyrl/MuseoSansCyrl-900italic.eot")
	src: url("../fonts/MuseoSansCyrl/MuseoSansCyrl-900italic.eot?#iefix")format("embedded-opentype"), url("../fonts/MuseoSansCyrl/MuseoSansCyrl-900italic.woff") format("woff"), url("../fonts/MuseoSansCyrl/MuseoSansCyrl-900italic.ttf") format("truetype")
	font-style: normal
	font-weight: normal