@import "variables"

.footer
	background: $gray-bg
	.social
		margin-bottom: 75px
		display: flex
		align-items: center
		justify-content: center
		&-item
			width: 20%
			height: 100px
			padding: 0 30px
			display: flex
			align-items: center
			justify-content: center
			@extend %shadow
			p
				text-align: center
				font-size: 20px
				color: white
				width: 100%
				margin-left: 15px
				display: inline-block
			&.fb
				background: #3B5998
				min-width: 274px
			&.twitter
				background: #00ACED
				min-width: 327px
			&.youtube
				background: #BB0000
				min-width: 261px
			&.google
				width: 40%
				min-width: 626px
				background: linear-gradient(180deg, #072C2E 0%, #000 100%)
	&-list
		background: white
		padding: 25px 0 115px
		.container
			display: flex
			align-items: flex-start
			justify-content: flex-end
			.usc
				margin-right: auto
				width: 300px
				p
					line-height: 12px
					font-size: 10px
					margin-top: 15px
					color: $gray-border
			.lists
				display: flex
				align-items: flex-start
				ul
					padding-top: 30px
					border-top: 4px solid $orange
					width: 300px
					li
						& + li
							margin-top: 15px
						a
							color: #95A5A6
							&:hover
								text-decoration: underline
					& + ul
						margin-left: 100px
	.copyrights
		background: $blue
		height: 150px
		display: flex
		align-items: center
		.container
			display: flex
			align-items: center
			justify-content: space-between
			p
				color: white
				font-size: 16px
			.founder
				background: rgba(59, 89, 152, .3)
				height: 150px
				display: flex
				align-items: center
				padding: 0 40px 0 50px
				.content
					border-left: 2px solid white
					padding: 5px 0 5px 15px
				p
					margin-bottom: 5px
					font-size: 20px
					span
						font-size: 10px

@media (max-width: 1488px)
	.footer
		.social
			&-item
				min-width: initial !important
				p
					display: none