@import "variables"

.header
	height: 100px
	display: flex
	align-items: center
	justify-content: center
	background: #2980B9
	padding: 0 15px
	.container
		width: 100%
		display: flex
		align-items: center
		justify-content: space-around
		.header-account
			display: flex
			align-items: center
			a
				font-size: 16px
				color: white
				display: flex
				align-items: center
				img
					margin-left: 10px
		ul
			width: 100%
			max-width: 1216px
			display: flex
			align-items: center
			justify-content: space-between
			margin: 0 15px
			a
				text-transform: uppercase
				color: white
				font-family: Museo900
				&:hover
					text-decoration: underline
	&-logo
		line-height: 0
		min-width: 162px
	&-enter
		background: linear-gradient(196deg, rgb(9, 229, 102) 0%, rgb(46, 204, 113) 100%)
		color: white
		font-size: 20px
		align-items: center
		justify-content: center
		display: flex
		height: 48px
		width: 115px
		min-width: 115px
		border-radius: 24px
		@extend %transition
		&:hover
			background: linear-gradient(196deg, rgb(46, 204, 113) 0%, rgb(9, 229, 102) 100%)
