$gray-light-text: #BDC3C7
$input-text: #68616B
$blue: #2980B9
$gray-shadow: rgba(35, 42, 54, .32)
$gray-border: #707070
$gray-bg: #ECF0F1
$orange: #FF4800
$yellow: #FFC107

%shadow
	box-shadow: 0 3px 6px $gray-shadow
%shadow-hover
	box-shadow: 0 3px 6px transparent
%middle
	position: absolute
	top: 50%
	transform: translateY(-50%)
%center
	position: absolute
	left: 50%
	transform: translateX(-50%)
%middle-center
	position: absolute
	left: 50%
	top: 50%
	transform: translate(-50%,-50%)
%transition
	transition: .3s