@import "common-components/variables"

.problem-item-content
	.problem-name
		text-align: center

.undercover
	.advices-survey
		border-radius: 20px
		background: $gray-bg
		padding: 40px 40px 25px
		.survey-title
			display: flex
			align-items: flex-start
			svg
				width: 52px
				min-width: 52px
				height: auto
				margin-top: 5px
				fill: #2e8bc9
				stroke: #2e8bc9
				margin-right: 70px
				@extend %transition
			p.title
				font-family: Museo700
				font-size: 28px
				line-height: 32px
				color: black
			p.subtitle
				font-size: 16px
				color: #A5B7C3
				margin-top: 15px
		.content
			border-top: 1px solid $gray-border
			margin-top: 35px
			padding-top: 20px
			text-align: center
			color: black
			font-size: 16px
			line-height: 19px
			font-family: Museo300
			.question
				display: none
				text-align: left
				color: black
				font-size: 16px
				font-family: Museo700
				&-number
					margin-bottom: 10px
				.progress-bar
					width: 100%
					height: 6px
					border-radius: 7px
					background: $gray-light-text
					.bar
						background: $yellow
						border-radius: 7px
						height: 100%
				&-text
					font-family: Museo700italic
					margin-top: 25px
					line-height: 30px
				.mark
					margin-top: 40px
					p
						color: $gray-light-text
					form
						text-align: center
						.line
							display: flex
							align-items: flex-start
							justify-content: space-between
							.separator
								margin: 12px 8px 0
								height: 1px
								width: 100%
								background: $gray-border
							label
								display: flex
								align-items: center
								flex-direction: column
								input
									display: none
									&:checked
										& + div
											span
												width: 12px
												height: 12px
												border-radius: 50%
												background: #2F8DCB
								div
									width: 24px
									min-width: 24px
									height: 24px
									border-radius: 50%
									border: 4px solid #2F8DCB
									display: flex
									align-items: center
									justify-content: center
								p
									font-family: Museo700
									color: #2F8DCB
									margin-top: 10px
						button
							margin: 40px auto 0
							display: flex
							align-items: center
							justify-content: center
							width: 300px
							height: 60px
							border-radius: 30px
							font-size: 16px
							font-family: Museo900
							color: white
							background: #FF4A39
							@extend %transition
							&:hover
								background: $yellow
			p
				margin-bottom: 20px
		&.active
			.survey-title
				svg
					fill: #FF4A39
					stroke: #FF4A39
				div
					p.subtitle
						display: none
			.content
				.default
					display: none
				.question-1
					display: block