@import "common-components/variables"

main.inner-page
	.cover
		.flex
			form
				position: relative
				button
					position: absolute
					width: 94px
					height: 50px
					border-radius: 25px
					right: 5px
					background: #FF4A39
					display: flex
					align-items: center
					justify-content: center
					@extend %middle
					@extend %transition
					&:hover
						background: $yellow
					img
						width: 30px
				input
					padding: 0 100px 0 30px
					font-size: 24px
					width: 700px
					height: 60px
					border-radius: 30px
					background: white