@import "common-components/variables"
@import "common-components/normalize"
@import "common-components/fonts"
@import "common-components/header"
@import "common-components/footer"

body
  font-family: Museo500, Helvetica, sans-serif
  font-size: 18px
  color: $gray-light-text
  line-height: 1em
  min-width: 320px
  overflow-x: hidden
  padding-top: 60px
  main
  	padding-top: 20px

.clear
	float: none
	clear: both

a, button
	cursor: pointer

a.yellow-btn, button.yellow-btn
	display: inline-block
	padding: 20px 60px
	font-size: 18px
	font-family: Museo900
	color: #2C3E50
	background: #FBEB00
	border-radius: 8px
	@extend %transition
	&:hover
		background: $yellow

.container
	width: 1600px
	margin: 0 auto

.museo500
	font-family: Museo500

input
	font-size: 16px
	color: $input-text
	background-color: white
	border-radius: 4px
	padding: 0 15px
	font-family: Museo700
	@extend %shadow
	&:-moz-placeholder
		text-indent: 0px
		transition: text-indent 0.5s
	&::-moz-placeholder
		text-indent: 0px
		transition: text-indsent 0.5s
	&::-webkit-input-placeholder
		text-indent: 0px
		transition: text-indent 0.5s
	&:-ms-input-placeholder
		text-indent: 0px
		transition: text-indent 0.5s
	&:focus
		&:-moz-placeholder
			text-indent: 1000px
			transition: text-indent 0.5s
		&::-moz-placeholder
			text-indent: 1000px
			transition: text-indent 0.5s
		&::-webkit-input-placeholder
			text-indent: 1000px
			transition: text-indent 0.5s
		&:-ms-input-placeholder
			text-indent: 1000px
			transition: text-indent 0.5s

textarea
	outline: none
	font-size: 16px
	color: $input-text
	background-color: white
	border-radius: 4px
	padding: 15px
	font-family: Museo700
	&::-webkit-input-placeholder
		opacity: 1
		transition: .5s
	&:focus::-webkit-input-placeholder
		opacity: 0

button.gm-control-active
	&:after
		color: white
		font-size: 36px
		@extend %middle-center
	&:first-child:after
		content: "+"
	&:last-child:after
		content: "−"
	img
		display: none
	& + div
		background-color: rgb(255, 255, 255) !important
		&.my_location
			background-color: transparent !important

label
	cursor: pointer

.gmnoprint
	.gm-style-cc
		background: transparent !important
	&.gm-style-cc
		background: transparent !important
		& > div
			background: transparent !important
	& > div
		background-color: #3498DB !important

.map
	height: 60px
	z-index: 2
	position: absolute
	top: 0
	width: 100%
	@extend %transition
	&:after
		content: ''
		display: block
		width: 100%
		height: 60px
		background: #000
		z-index: 1
		background: linear-gradient(180deg, white 0%, rgba(255, 255, 255, .2) 100%)
		@extend %transition
	.problem-container
		position: absolute
		bottom: calc(100px + 20px + ((100vw * .9) / 10))
		right: 70px
		a.add-problem
			margin-bottom: 20px
			width: 302px
			height: 45px
			background: $blue
			display: flex
			align-items: center
			justify-content: center
			font-family: Museo300
			color: white
			text-transform: uppercase
			@extend %shadow
			&:hover
				@extend %shadow-hover
	&-types
		@extend %center
		bottom: 100px
		display: flex
		align-items: center
		justify-content: space-between
		.type
			background: #F5F5F5
			width: calc((100vw * .9) / 10)
			height: calc((100vw * .9) / 10)
			display: flex
			flex-direction: column
			align-items: center
			justify-content: flex-end
			padding: 12px
			&-icon
				height: 40px
				display: flex
				align-items: center
				margin-bottom: 15px
			p
				height: 3.6em
				line-height: 1.2em
				text-align: center
				font-size: 13px
				color: #2C3E50
				text-transform: uppercase
			&.choosen
				background: #fff
			& + .type
				margin-left: 5px
	#map
		@extend %center
		width: 100%
		height: 100%
		top: 0
		@extend %transition
		.gmnoprint
			& > div
				opacity: 0
	span.open
		display: none
	&.open
		height: 100vh
		&:after
			background: linear-gradient(180deg, transparent 0%, transparent 100%)
		span.open
			display: block
		span.close
			display: none
		#map
			opacity: 1
			.gmnoprint
				& > div
					opacity: 1
			
	.map-toggler
		font-size: 25px
		font-family: Museo300
		color: $blue
		display: flex
		align-items: center
		justify-content: center
		@extend %center
		bottom: 12px
		z-index: 2
		img
			margin-right: 15px


.problem-item
	max-width: 302px
	width: 302px
	background: white
	margin-bottom: 20px
	@extend %shadow
	& + .problem-item
		margin-left: 20px
	&-img
		background-repeat: no-repeat
		background-size: cover
		background-position: top center
		height: 200px
		padding: 5px 10px
		.hat
			border-radius: 5px
			background: rgba(0, 0, 0, .5)
			display: flex
			align-items: center
			justify-content: flex-start
			padding: 5px 12px 5px 5px
			.user
				display: flex
				align-items: flex-start
				justify-content: flex-start
				.avatar
					margin-right: 5px
					border-radius: 50%
					width: 32px
					height: 32px
					overflow: hidden
				&-info
					color: #fff
					.name
						font-size: 14px
					.city
						font-size: 10px
						line-height: 1em
			.status
				margin-left: auto
				color: $blue
				font-size: 16px
				display: flex
				align-items: center
				justify-content: center
				span
					display: block
					margin-right: 5px
					width: 10px
					height: 10px
					background-color: $blue
					border-radius: 50%
		.problem-icon
			@extend %center
			bottom: -20px
	.problem-stat
		padding: 10px 25px
		display: flex
		align-items: center
		justify-content: space-between
		margin-top: auto
		background-color: $blue
		.views
			display: flex
			color: white
			font-size: 16px
			img
				margin-right: 10px
		a
			color: white
			font-family: Museo300
			font-size: 14px
			text-transform: uppercase
			&:hover
				text-decoration: underline
		.open-problem
			color: white
			border-radius: 3px
			background: $blue
			display: flex
			align-items: center
			justify-content: center
			text-transform: uppercase
			width: 100px
			height: 30px
			font-size: 16px
			@extend %shadow
			&:hover
				@extend %shadow-hover
	&-content
		height: 190px
		display: flex
		flex-direction: column
		padding: 20px 20px 0px
		.problem-name
			font-size: 18px
			color: #2C3E50
			margin-bottom: 24px
			line-height: 22px
			white-space: normal
			&:hover
				text-decoration: underline
		.signs-part
			width: 90%
			margin: 0 auto
			.flex
				display: flex
				align-items: center
				justify-content: space-between
				margin-top: 12px
				p
					font-size: 14px
					color: #1ABC9C
				a
					color: white
					width: 100px
					height: 24px
					display: flex
					align-items: center
					justify-content: center
					font-size: 10px
					font-family: Museo700
					border-radius: 12px
					background: #1ABC9C
					text-transform: uppercase
			.progress-bar
				width: 100%
				height: 6px
				border-radius: 7px
				background: #2C3E50
				.bar
					background: $yellow
					border-radius: 7px
					height: 100%
		.problem-type
			font-size: 14px
			text-align: center
			margin-bottom: 8px
		.problem-address
			font-size: 10px
			font-family: Museo300
			color: #767791
		.problem-info
			display: flex
			align-items: center
			justify-content: center
			margin-bottom: 10px
			font-size: 14px
			font-family: Museo300
			p
				color: #767791
				font-size: 14px
				&.separator
					margin: 0 4px

.initiatives-container
	width: 946px
	margin: 0 auto
main.inner-page
	padding-top: 0
	.undercover
		background: radial-gradient(#2D88C5, #3498DB)
		padding: 60px 0
	.for-tabs
		background: white
		padding: 40px 0 85px
		.tabs
			display: flex
			align-items: stretch
			justify-content: center
			ul, .tab
				background: $gray-bg
			ul
				padding: 50px 0 100px
				width: 400px
				border-radius: 0 20px 20px 0
				li
					padding: 18px 36px
					outline: none
					&.ui-state-active
						background: #2C86C2
						&:after
							content: ''
							width: 24px
							height: 32px
							display: block
							border-left: 24px solid #2C86C2
							border-top: 16px solid transparent
							border-bottom: 16px solid transparent
							right: -24px
							@extend %middle
						a
							.round-icon
								border: 3px solid white
								svg
									fill: white
							p
								color: white
					& > p
						margin-bottom: 50px
						color: #2C3E50
					p
						font-family: Museo900
						font-size: 25px
						text-transform: uppercase
					a
						display: flex
						align-items: center
						.round-icon
							width: 85px
							min-width: 85px
							border-radius: 50%
							height: 85px
							display: flex
							align-items: center
							justify-content: center
							border: 3px solid #2C86C2
							@extend %transition
							svg
								fill: #2C86C2
								width: 70%
								@extend %transition
						p
							color: #2C86C2
							margin-left: 35px
							@extend %transition
			.tab
				border-radius: 20px 0 0 20px
				margin-left: 35px
				width: 840px
				max-height: 1200px
				padding: 35px 40px
				overflow: auto
				.item
					& + .item
						border-top: 1px solid $gray-light-text
						margin-top: 35px
						padding-top: 20px
					.user
						display: flex
						align-items: center
						margin-bottom: 10px
						.avatar
							width: 35px
							height: 35px
							border-radius: 50%
							margin-right: 20px
							overflow: hidden
						p.user-name
							color: #7F8C8D
							font-family: Museo900
					.content
						display: flex
						align-items: flex-end
						.image
							width: 200px
							min-width: 200px
							height: 200px
							background-size: cover
							background-repeat: no-repeat
							background-position: center
							margin-right: 20px
						.text
							.title
								font-size: 20px
								font-family: Museo700
								line-height: 24px
								color: #3090CF
							.description
								font-family: Museo300
								line-height: 22px
								color: #7F8C8D
								margin-top: 45px
					.statistic
						margin-top: 50px
						display: flex
						align-items: center
						justify-content: space-between
						.reaction, .date
							display: flex
							align-items: center
							svg
								margin-right: 8px
								height: auto
						.reaction
							svg
								fill: #BDC3C7
								width: 24px
							a
								margin-left: 12px
								display: flex
								align-items: center
								&.thumb-up
									color: #15DD6A
								&.thumb-down
									color: #FF4A39
						.date
							font-family: Museo900
							color: #CBD1D2
							svg
								fill: #CBD1D2
								width: 18px
	.cover
		padding: 50px 0 170px
		background: radial-gradient(#3498DB, #2D88C5)
		color: #F3F9FF
		text-align: center
		p
			font-size: 24px
			font-family: Museo300
			&.descr
				line-height: 30px
				a
					color: inherit
					text-decoration: underline
					&:hover
						text-decoration: none
			&.title
				margin-bottom: 40px
				font-size: 46px
				font-family: Museo900
				line-height: 46px
		.flex
			display: flex
			align-items: flex-start
			justify-content: center
			margin-top: 70px
			.number-item
				display: flex
				align-items: center
				justify-content: flex-end
				text-align: left
				width: 385px
				& + .number-item, & + a
					margin-left: 90px
				p
					font-size: 20px
					font-family: Museo500
					line-height: 24px
					& + p
						margin-left: 18px
					&.item-title
						font-size: 60px
						font-family: Museo900
						letter-spacing: .03em
			.item
				& + .item
					margin-left: 20px
				img
					margin-bottom: 25px
				p
					font-size: 14px
					&.item-title
						font-size: 20px
						font-family: Museo900
						letter-spacing: .03em
						margin-bottom: 20px

.all-initiatives
	padding: 30px 0 110px
	.filter
		margin: 30px 0 50px
		display: flex
		align-items: center
		justify-content: space-between
		p
			font-size: 30px
			font-family: Museo700
			color: #2C3E50
		.radio-buttons
			display: flex
			align-items: center
			label
				display: flex
				align-items: center
				cursor: pointer
				input
					display: none
					&:checked
						& + span + img
							opacity: 1
				.arrow
					display: inline-block
					width: 6px
					height: 8px
					border-left: 6px solid #2C3E50
					border-top: 4px solid transparent
					border-bottom: 4px solid transparent
					margin-right: 5px
				& + label
					margin-left: 10px
				img
					opacity: .5
					width: 17px
	.container
		.latest
			&-title
				display: flex
				align-items: center
				justify-content: center
				margin-bottom: 80px
				span
					width: 300px
					height: 1px
					background: #7F8C8D
					display: block
				p
					width: 360px
					font-size: 20px
					color: #7F8C8D
					text-align: center
					text-transform: uppercase
			&-item
				& + .latest-item
					margin-top: 70px

				.initiatives-list
					display: flex
					align-items: flex-start
					justify-content: space-between

.main-width-sidebars
	padding-bottom: 90px
	.container
		display: flex
		align-items: flex-start
		justify-content: space-between
		.main-block
			width: 18%
			&.middle-main
				width: calc(100% - 36%)
				.middle-main-title
					font-family: Museo700
					font-size: 16px
					padding-bottom: 15px
					color: #2C3E50
					border-bottom: 1px solid $gray-border
			& + .main-block
				margin-left: 40px
		.right-sidebar
			.users
				p.right-sidebar-item-title
					font-size: 16px
					color: #2C3E50
					padding-bottom: 15px
					border-bottom: 1px solid $gray-border
					margin-bottom: 20px
					a
						color: $orange
						text-decoration: underline
						&:hover
							text-decoration: none
				.user
					display: flex
					align-items: flex-start
					justify-content: flex-start
					.avatar
						margin-right: 15px
						border-radius: 50%
						width: 50px
						height: 50px
						overflow: hidden
					&-info
						color: #2C3E50
						line-height: 1.2em
					& + .user
						margin-top: 20px

.ui.inverted.dimmer>.ui.modal .actions
	position: absolute

.ui
	&.dimmer
		background-color: rgba(19, 23, 32, .8)
		&.inverted
			& > .ui.modal
				padding: 0
				border: none
				label
					margin-top: 0
	&.modal
		border-radius: 5px
		&.modal-dropdown
			width: 980px
			margin: 0 0 0 -490px
			background-color: transparent
			box-shadow: none
			& > .content
				a.choose
					text-transform: uppercase
					margin: 40px auto 0
					font-size: 14px
					color: white
					display: flex
					align-items: center
					justify-content: center
					width: 210px
					height: 40px
					border-radius: 5px
					@extend %shadow
					background: #FF4A39
					&:hover
						@extend %shadow-hover
						background: $yellow
				.modal-title
					background: transparent
					box-shadow: none
					display: block
					height: auto
					margin-bottom: 30px
					color: $gray-light-text
					font-size: 28px
					font-family: Museo500
					text-transform: none
					letter-spacing: initial
				.modal-content
					padding: 0
					form
						text-align: center
						a
							color: $gray-light-text
							font-size: 16px
							font-family: Museo500
							text-decoration: underline
							display: inline-block
							margin-top: 50px
							&:hover
								text-decoration: none
					input.search
						border: 1px solid $gray-light-text
						width: 100%
						height: 45px
						padding: 0 15px
						color: $gray-light-text
						font-size: 16px
						font-family: Museo500
						background-color: transparent
					label
						cursor: pointer
						input[type="radio"]
						input[type="checkbox"]
							display: none
					.filter
						text-align: left
						margin-top: 30px
						margin-bottom: 50px
						label
							& + label
								margin-left: 75px
							input
								display: none
								& + span
									color: $gray-light-text
									font-size: 14px
									font-family: Museo500
								&:checked
									& + span
										text-decoration: underline
					.cols
						text-align: left
						display: flex
						align-items: flex-start
						justify-content: flex-start
						flex-wrap: wrap
						label
							width: 25%
							line-height: 40px
							input
								& + span
									color: white
									font-size: 16px
									font-family: Museo500
								&:checked
									& + span
										color: $gray-light-text
										text-decoration: underline
				.actions
					display: flex
					align-items: center
					a.cancel
						line-height: 0
					a.clear
						color: $gray-light-text
						text-decoration: underline
						font-size: 14px
						font-family: Museo700
						margin-left: 15px
						&:hover
							text-decoration: none
		&.modal-login
			width: 600px
			margin: 0 0 0 -300px
			& > .content
				.modal-content
					form
						margin: 0 auto 30px
						width: 280px
		&.modal-treatment
			width: 600px
			margin: 0 0 0 -300px
			& > .content
				.modal-content
					.item + .item
						margin-top: 20px
					form
						.file-upload
							margin-bottom: 30px
							padding: 10px
							border-radius: 5px
							border: 1px solid #ECF0F1
							@extend %shadow
							.insert
								background: #F0F2F8
								display: flex
								align-items: center
								justify-content: space-around
								height: 100px
								p
									text-align: center
									font-size: 16px
									color: #68616b
									font-family: Museo700
									span
										font-size: 10px
										a
											color: $blue
											text-decoration: underline
											&:hover
												text-decoration: none
						p.part-title
							font-size: 25px
							color: #2C3E50
							margin-bottom: 5px
							text-align: left
						textarea
							width: 100%
							height: 410px
							border: 1px solid #BDC3C7
						input[type="text"], input[type="tel"], input[type="email"]
							width: 100%
							height: 46px
							border: 1px solid #BDC3C7
						label
							margin: 0 auto
							display: flex
							align-items: center
							justify-content: center
							cursor: pointer
							input
								margin-right: 15px
							p
								font-family: Museo300
								font-size: 12px
								line-height: 14px
								color: #141414
						button
							text-transform: uppercase
							margin: 40px auto 0
							font-size: 14px
							color: white
							display: flex
							align-items: center
							justify-content: center
							width: 210px
							height: 40px
							border-radius: 5px
							@extend %shadow
							background: #FF4A39
							&:hover
								@extend %shadow-hover
								background: $yellow
						.registration-flex
							display: flex
							align-items: flex-start
							justify-content: space-between
							.flex-item
								width: calc((100% - 25px) / 2)
								display: flex
								align-items: center
								justify-content: space-between
								flex-wrap: wrap
								input
									&.small-input
										width: calc((100% - 10px) / 2)
									& + input
										margin-top: 20px
		&.modal-registration
			width: 600px
			margin: 0 0 0 -300px
			& > .content
				.modal-content
					form
						label
							margin: 0 auto
							display: flex
							align-items: center
							justify-content: center
							cursor: pointer
							input
								margin-right: 15px
							p
								font-family: Museo300
								font-size: 12px
								line-height: 14px
								color: #141414
						button
							text-transform: uppercase
							margin: 40px auto 0
							font-size: 14px
							color: white
							display: flex
							align-items: center
							justify-content: center
							width: 140px
							height: 40px
							border-radius: 20px
							@extend %shadow
							background: linear-gradient(90deg, #F39C12 0%, #D1840B 100%)
							&:hover
								@extend %shadow-hover
								background: linear-gradient(90deg, #D1840B 0%, #F39C12 100%)
						.registration-flex
							display: flex
							align-items: flex-start
							justify-content: space-between
							margin-bottom: 30px
							.flex-item
								width: calc((100% - 25px) / 2)
								display: flex
								align-items: center
								justify-content: space-between
								flex-wrap: wrap
								input
									width: 100%
									height: 46px
									border: 1px solid #BDC3C7
									&.small-input
										width: calc((100% - 10px) / 2)
									& + input
										margin-top: 20px
		&.modal-mail-check, &.modal-treatment-thanks
			width: 440px
			margin: 0 0 0 -220px
			& > .content
				.modal-content
					text-align: center
					padding: 25px 15px
					p
						font-family: Museo700
						color: #6C7782
						line-height: 1em
						margin-top: 12px
						span
							font-family: Museo300
							font-size: 14px
							line-height: 17px
					a
						display: flex
						align-items: center
						justify-content: center
						color: white
						font-family: Museo300
						height: 40px
						width: 142px
						margin: 50px auto 0
						border-radius: 4px
						@extend %shadow
						background: linear-gradient(90deg, #37B8E8 0%, #0890C4 100%)
						img
							margin-right: 20px
						&:hover
							@extend %shadow-hover
							background: linear-gradient(90deg, #0890C4 0%, #37B8E8 100%)
		&.modal-treatment-thanks
			& > .content
				.modal-content
					p
						font-family: Museo300
						font-size: 40px
						line-height: 48px
						color: #297FB7
						margin-bottom: 30px
					svg
						fill: #297FB7
						width: 50px
						height: auto
		&.modal-password
			width: 600px
			margin: 0 0 0 -300px
			& > .content
				.modal-content
					padding: 25px 65px 85px
					p
						font-family: Museo700
						font-size: 14px
						letter-spacing: .1em
						text-transform: uppercase
						margin-bottom: 10px
					form
						label
							img
								left: 25px
								z-index: 1
								@extend %middle
							input
								height: 70px
								width: 100%
								padding: 0 70px
								background: #F0F2F7
								color: $blue
								border: 1px solid #E3E8F0
								@extend %shadow
						button
							width: 100%
							display: flex
							align-items: center
							justify-content: center
							background: #2980B9
							margin-top: 60px
							height: 70px
							font-family: Museo500
							font-size: 17px
							letter-spacing: .1em
							color: white
							border-radius: 5px
							text-transform: uppercase
							@extend %shadow
							&:hover
								@extend %shadow-hover
		&.modal-add-problem
			width: 1120px
			margin: 0 0 0 -560px
			& > .content
				.modal-content
					padding: 50px 50px 40px
					form
						.cols
							display: flex
							justify-content: space-between
							margin-bottom: 45px
							.col
								input
									width: 100%
									height: 45px
									border: 1px solid #ECF0F1
									& + input, & + textarea, & + div
										margin-top: 30px
								textarea
									width: 100%
									resize: none
								&-left
									width: 35%
									.file-upload
										margin-bottom: 30px
										padding: 10px
										border-radius: 5px
										border: 1px solid #ECF0F1
										@extend %shadow
										.insert
											background: #F0F2F8
											display: flex
											align-items: center
											justify-content: space-around
											height: 100px
											p
												text-align: center
												font-size: 16px
												color: #68616b
												font-family: Museo700
												span
													font-size: 10px
													a
														color: $blue
														text-decoration: underline
														&:hover
															text-decoration: none
								&-right
									width: calc(100% - 35% - 30px)
									display: flex
									justify-content: space-between
									align-items: stretch
									.col-right-inputs
										width: calc(100% - 40% - 15px)
										textarea
											height: calc(100% - 45px - 30px)
											padding: 15px
											font-size: 16px
											color: #68616b
											font-family: Museo700
											border-radius: 8px
											background: #ECF0F1
											border: none
									#map_add_problem
										width: 40%
										height: 100%
										.gmnoprint
											display: none
										.my_location
											top: initial !important
											bottom: 12px
											margin-right: 5px
						.bottom-flex
							display: flex
							justify-content: space-between
							p
								display: flex
								align-items: center
								font-size: 14px
								color: #6A626A
								img
									margin-right: 15px
							button
								height: 40px
								display: flex
								align-items: center
								color: white
								font-size: 20px
								text-transform: uppercase
								padding: 5px 10px
								border-radius: 4px
								background: linear-gradient(90deg, #37B8E8 0%, #0890C4 100%)
								@extend %shadow
								img
									margin-right: 12px
								&:hover
									background: linear-gradient(90deg, #0890C4 0%, #37B8E8 100%)
									@extend %shadow-hover
		& > .content
			padding: 0
			border-radius: 5px
			background: transparent
			.modal-title
				height: 90px
				margin-bottom: 0
				background: #2F8CCA
				font-family: Museo700
				font-size: 17px
				letter-spacing: .1em
				text-transform: uppercase
				color: white
				display: flex
				align-items: center
				justify-content: center
				border-radius: 5px 5px 0 0
				@extend %shadow
			.modal-content
				padding: 50px 20px
				.sign-in-notice
					margin-top: 30px
					text-align: center
					font-family: Museo700
					font-size: 14px
					color: $blue
				form
					.text-fields
						margin-bottom: 15px
						display: block
						img
							@extend %middle
							left: 15px
							z-index: 1
						input
							width: 100%
							height: 46px
							border: 1px solid #BDC3C7
							padding-left: 55px
							@extend %shadow
					.form-flex
						padding-left: 30px
						display: flex
						align-items: center
						justify-content: space-between
						label
							font-family: Museo700
							font-size: 12px
							color: #B9B9B9
							cursor: pointer
							input
								margin-right: 5px
						button
							font-family: Museo700
							font-size: 14px
							display: flex
							align-items: center
							justify-content: center
							color: white
							background: linear-gradient(90deg, #37B8E8 0%, #0890C4 100%)
							height: 30px
							width: 100px
							border-radius: 5px
							@extend %shadow
							&:hover
								@extend %shadow-hover
								background: linear-gradient(90deg, #0890C4 0%, #37B8E8 100%)
						a
							font-family: Museo700
							font-size: 12px
							text-decoration: underline
							color: $blue
							&:hover
								text-decoration: none

						& + .form-flex
							margin-top: 24px
				.login-through
					display: flex
					align-items: center
					justify-content: center
					flex-wrap: wrap
					a + a
						margin-left: 20px
					p
						font-family: Museo700
						color: $blue
						margin-bottom: 12px
						text-align: center
						width: 100%
			.actions
				position: absolute
				top: 10px
				right: 10px