@import "common-components/variables"

.cover
	padding: 55px 0 350px
	background: white url(../img/index/chernigiv.jpg) no-repeat bottom center
	&-insert
		margin: 0 auto
		width: 1500px
		display: flex
		align-items: center
		justify-content: flex-end
		border-radius: 15px
		background: linear-gradient(0deg, #ECF0F1 0%, #E4E4E4 100%)
		padding: 25px 45px 10px 0
		@extend %shadow
		.right
			margin-left: 110px
			width: 600px
			display: flex
			align-items: flex-start
			justify-content: space-between
			flex-wrap: wrap
			.info
				p
					font-size: 20px
					&.number
						font-family: Museo900
						font-size: 55px
						line-height: 55px
						color: $blue
				&-item
					& + .info-item
						margin-top: 32px
			.city
				width: 270px
				p
					color: $blue
					font-size: 25px
					margin-bottom: 20px
				input
					margin-bottom: 30px
					width: 100%
					height: 46px
				a
					color: white
					font-family: Museo700
					text-transform: uppercase
					border-radius: 5px
					width: 100%
					display: flex
					align-items: center
					justify-content: center
					@extend %shadow
					@extend %transition
					&.go-to
						background: linear-gradient(90deg, #37B8E8 0%, #0890C4 100%)
						height: 50px
						margin-bottom: 35px
						&:hover
							background: linear-gradient(90deg, #0890C4 0%, #37B8E8 100%)
					&.add-problem
						height: 84px
						background: linear-gradient(0deg, #E74C3C 0%, #C0392B 100%)
						img
							margin-right: 25px
						&:hover
							background: linear-gradient(0deg, #C0392B 0%, #E74C3C 100%)
					&:hover
						@extend %shadow-hover
			form
				min-width: 100%
				margin-top: 25px
				input
					width: 100%
					height: 70px
				button
					@extend %middle
					right: 0
					padding: 0 30px
					border-left: 1px solid $gray-border
					z-index: 1

.latest
	padding: 110px 0
	background: $gray-bg
	.container
		.latest
			&-title
				display: flex
				align-items: center
				justify-content: center
				margin-bottom: 80px
				span
					width: 300px
					height: 1px
					background: #7F8C8D
					display: block
				p
					width: 360px
					font-size: 20px
					color: #7F8C8D
					text-align: center
					text-transform: uppercase
			&-item
				& + .latest-item
					margin-top: 70px

				.problems-list
					display: flex
					align-items: flex-start
					justify-content: space-between