@import "common-components/variables"

.choosed-initiatives
	margin: 0 0 30px
	background: #ECF0F1
	.create
		background: white
		padding: 20px
		display: flex
		align-items: center
		justify-content: space-between
		position: relative
		top: -49px
		@extend %shadow
		.numbers
			display: flex
			align-items: center
			justify-content: flex-start
			img
				margin-right: 20px
			p
				letter-spacing: .03em
				&.number
					font-family: Museo900
					font-size: 40px
					color: #2C3E50
					margin-right: 10px
				&.descr
					color: #95A5A6
					font-family: Museo300
					font-size: 14px
	.title
		text-align: center
		margin-bottom: 20px
		color: #2C3E50
		font-family: Museo700
		font-size: 60px
		line-height: 72px
	.initiatives-list
		display: flex
		align-items: flex-start
		justify-content: space-between
	.choosed-initiative
		background: #fff
		margin-bottom: 20px
		border-radius: 4px
		display: flex
		@extend %shadow
		.image
			border-radius: 4px 0 0 4px
			overflow: hidden
			width: 430px
			min-width: 430px
			a
				display: none
				line-height: 0
				&.cover-img
					display: block
		.descr
			width: 400px
			min-width: 400px
			margin-left: 40px
			padding: 10px 0
			p
				font-family: Museo300
				font-size: 16px
				color: #2C3E50
				line-height: 18px
				text-align: left
				&.title
					font-family: Museo700
					font-size: 26px
					line-height: 30px
					margin-bottom: 25px
			.progress-bar
				margin-top: 40px
				margin-bottom: 10px
				width: 100%
				height: 6px
				border-radius: 7px
				background: #2c3e50
				.bar
					background: #ffc107
					border-radius: 7px
					height: 100%
			.flex
				display: flex
				align-items: center
				justify-content: space-between
				& + .flex
					margin-top: 15px
				p
					color: #7F8C8D
					font-family: Museo500
					span
						font-family: Museo900
						font-size: 14px
				a
					&.user
						display: flex
						align-items: center
						justify-content: flex-start
						.avatar
							margin-right: 10px
							border-radius: 50%
							width: 32px
							height: 32px
							overflow: hidden
						p.name
							font-family: Museo500
							font-size: 12px
							text-decoration: underline
						&:hover
							p.name
								text-decoration: none
					&.btn
						color: white
						font-family: Museo700
						display: flex
						align-items: center
						justify-content: center
						width: 170px
						height: 40px
						border-radius: 20px
						background: #1ABC9C

.create-initiative
	padding-top: 15px
	form
		padding-bottom: 55px
		button
			background: linear-gradient(90deg, #37B8E8 0%, #0890C4 100%)
			width: 400px
			height: 90px
			display: flex
			align-items: center
			justify-content: center
			border-radius: 5px
			margin: 0 auto
			font-size: 25px
			color: white
			font-family: Museo700
			@extend %shadow
			&:hover
				background: linear-gradient(90deg, #0890C4 0%, #37B8E8 100%)
				@extend %shadow-hover
		.flex
			display: flex
			border-bottom: 1px solid #EAECEC
			margin-bottom: 80px
			.fields
				width: calc(100% - 15px - 15px - 320px - 15px)
				padding-top: 25px
				padding-bottom: 40px
				p.title
					font-family: Museo700
					font-size: 50px
					line-height: 50px
					color: #2C3E50
					margin-bottom: 25px
				.form-item
					label
						font-family: Museo300
						font-size: 14px
						color: #7F8C8D
						cursor: pointer
						input
							box-shadow: none
							margin-right: 10px
						a
							color: #2980B9
							&:hover
								text-decoration: underline
					&.file-upload
						border-radius: 5px
						background: #F0F2F8
						border: 1px solid #ABB0C7
						height: 400px
						display: flex
						align-items: center
						justify-content: center
						.insert
					    display: flex
					    align-items: center
					    justify-content: center
					    img
					    	margin-right: 50px
					    p
					    	text-align: center
					    	font-size: 18px
					    	color: #43425D
					    	font-family: Museo300
					    	span
					    		font-size: 10px
					    		a
					    			color: #3B86FF
					    			text-decoration: underline
					    			&:hover
					    				text-decoration: none
					p.item-title
						font-size: 26px
						line-height: 30px
						color: #2C3E50
						margin-bottom: 5px
					p.item-subtitle
						color: #2C3E50
						margin-bottom: 5px
					p.descr
						margin-bottom: 10px
						font-family: Museo300
						font-size: 14px
						color: #95A5A6
					input[type=text]
						border: 1px solid #ABB0C7
						width: 100%
						height: 32px
						box-shadow: none
						border-radius: 0
					textarea
						resize: none
						border: 1px solid #ABB0C7
						width: 100%
						height: 130px
						padding: 15px
					& + .form-item
						margin-top: 25px
			.preview
				margin-left: 15px
				background: #EAECEC
				padding: 20px 15px
				&-item
					border-radius: 5px
					background: white
					padding: 10px
					width: 320px
					.img-container
						background: #EAECEC
						height: 160px
						margin-bottom: 75px
						width: 100%
					p.date
						font-size: 14px
						font-family: Museo300
					&-footer
						margin-top: 5px
						padding-top: 8px
						border-top: 1px solid #EAECEC
						a
							&.user
								display: flex
								align-items: center
								justify-content: flex-start
								.avatar
									margin-right: 10px
									border-radius: 50%
									width: 32px
									height: 32px
									overflow: hidden
								p.name
									font-family: Museo500
									font-size: 17px
									color: #BDC3C7
								&:hover
									p.name
										text-decoration: underline