@import "common-components/variables"

body
	padding-top: 0

.types
	@extend %shadow
	background: #F1C40F
	height: 140px
	display: flex
	align-items: center
	justify-content: center
	.type
		background: #fff
		width: calc((100vw * .6) / 10)
		height: calc((100vw * .6) / 10)
		display: flex
		flex-direction: column
		align-items: center
		justify-content: flex-end
		padding: 8px
		border-radius: 2px
		.dropdown
			z-index: 1
			position: absolute
			display: none
			background: $gray-bg
			border: 1px solid #F2C926
			padding: 20px 30px
			top: calc(((100vw * .6) / 10) + 20px)
			right: 0
			@extend %shadow
			&:before
				position: absolute
				height: 20px
				width: 100%
				content: ''
				display: block
				top: -20px
			a
				font-family: Museo700
				font-size: 16px
				color: $blue
				text-decoration: underline
				display: block
				& + a
					margin-top: 10px
				&:hover
					text-decoration: none
		&:hover
			.dropdown
				display: block
		&-icon
			height: 40px
			display: flex
			align-items: center
			margin-bottom: 12px
		p
			height: 2.4em
			line-height: 1.2em
			text-align: center
			font-size: 10px
			color: #2C3E50
			text-transform: uppercase
		& + .type
			margin-left: 30px

form.find-problem
	width: 1100px
	margin: 0 auto
	input
		border-radius: 2px
		width: 100%
		height: 70px
		padding: 0 40px
		font-size: 20px
		background: $gray-bg
	button
		background: $blue
		width: 140px
		height: 100%
		display: flex
		align-items: center
		justify-content: center
		border-radius: 0 2px 2px 0
		right: 0
		@extend %middle
.latest
	padding: 30px 0 100px
	.container
		.latest
			&-title
				display: flex
				align-items: center
				justify-content: center
				margin-bottom: 40px
				span
					width: 300px
					height: 1px
					background: #7F8C8D
					display: block
				p
					width: 360px
					font-size: 20px
					color: #7F8C8D
					text-align: center
					text-transform: uppercase
			&-item
				.problems-list
					display: flex
					align-items: flex-start
					justify-content: space-between
					flex-wrap: wrap

.add-problem-item
	background: url('../img/add-problem.jpg') no-repeat center
	background-size: cover
	height: 390px
	display: flex
	flex-direction: column
	align-items: center
	justify-content: space-evenly
	p
		font-size: 14px
		color: white
		text-align: center
	a
		text-transform: uppercase
		width: 240px
		height: 50px
		border-radius: 8px
		background: #F2C926
		display: flex
		align-items: center
		justify-content: center
		color: white
		font-size: 16px
		@extend %shadow
		&:hover
			@extend %shadow-hover

.problem-item
	&:nth-child(6n)
		margin-left: 0