@import "common-components/variables"

main
	padding-bottom: 60px
	background-color: $gray-bg
	.container
		display: flex
		align-items: stretch

		& > div
			@extend %shadow
			& + div
				margin-left: 24px
		.info
			width: 31%
			padding: 50px 30px
			background: #fff
			a.back
				font-size: 14px
				font-family: Museo300
				color: #A8A8A8
				margin-bottom: 30px
				display: block
				&:hover
					text-decoration: underline
			.flex-with-qr
				margin: 0 0 30px
				display: flex
				align-items: flex-start
				justify-content: space-between
				p
					color: #040404
					&.problem-number
						font-family: Museo700
						font-size: 20px
					&.problem-name
						font-family: Museo300
						font-size: 20px
					&.problem-address
						font-family: Museo300
						font-size: 14px
						color: #BDC3C7
						img
							margin-right: 5px
					& + p
						margin-top: 20px

			.problem-text
				font-size: 14px
				font-family: Museo700
				color: #2C3E50
				margin-bottom: 10px
				&-more
					font-size: 14px
					font-family: Museo700
					color: $blue
					text-decoration: underline
					&:hover
						text-decoration: none
			.problem-buttons
				display: flex
				margin-top: 20px
				a
					display: flex
					align-items: center
					justify-content: center
					
					color: white
					width: 210px
					height: 50px
					border-radius: 5px
					font-size: 16px
					font-family: Museo300
					&.greenlight-button
						background: #1ABC9C
					&.green-button
						background: #16A085
					&.yellow-button
						background: $yellow
					&.orange-button
						background: $orange
					& + a
						margin-left: 10px
						
			.problem-creator
				border-top: 1px solid $gray-border
				margin-top: 10px
				padding-top: 20px
				&-flex
					display: flex
					align-items: center
					justify-content: space-between
					.problem-social
						display: flex
						align-items: center
						justify-content: space-between
						a
							& + a
								margin-left: 9px
					.user
						display: flex
						align-items: center
						.avatar
							width: 45px
							height: 45px
							border-radius: 50%
							margin-right: 5px
						p
							font-size: 14px
							font-family: Museo500
							&.user-name
								color: #2C3E50
							&.problem-time
								color: $gray-light-text
				.counter-list
					display: flex
					flex-direction: column
					margin: 40px 0
					a
						display: flex
						align-items: flex-start
						padding-left: 30px
						font-family: Museo500
						font-size: 14px
						color: $blue
						& + a
							margin-top: 15px
						span
							margin-right: 20px
							width: 30px
							text-align: right
				.problems-photos
					p
						cursor: pointer
						position: absolute
						top: 0
						width: 100%
						background: rgba(0, 0, 0, .75)
						height: 50px
						color: white
						z-index: 1
						padding: 0 15px
						display: flex
						align-items: center
						justify-content: space-between
						span
							&:hover
								text-decoration: underline
					a
						float: left
						width: 100%
						line-height: 0
						display: none
						img
							width: 100%
						&.cover-img
							display: block
		.tabs
			width: 43%
			background-color: #fff
			ul
				@extend %shadow
				display: flex
				align-items: center
				z-index: 1
				li
					width: 50%
					& + li
						border-left: 1px solid $gray-border
					a
						display: flex
						align-items: center
						justify-content: center
						width: 100%
						height: 50px
						color: #BDC3C7
						font-family: Museo700
						@extend %transition
					&.ui-tabs-active
						a
							color: #2C3E50
			.tab
				&.signs
					height: calc(100% - 50px)
					.signs-list
						max-height: 840px
						/* overflow-y: scroll*/
				form
					&.item
						align-items: flex-start
						background: white
					p
						font-family: Museo300
						font-size: 20px
						color: #2C3E50
						span
							margin-left: 20px
							color: #BDC3C7
							font-size: 20px
					textarea
						padding: 15px 20px
						border-radius: 5px
						width: 100%
						resize: none
						height: 100px
						border: 1px solid #BDC3C7
						margin-top: 15px
						font-size: 14px
						font-family: Museo300
					button
						margin-top: 15px
						background: $blue
						color: white
						display: flex
						align-items: center
						justify-content: center
						width: 264px
						height: 54px
						border-radius: 5px
						background: $blue
						font-size: 16px
						font-family: Museo300
				.item
					background: #F7F7F7
					padding: 30px 40px
					display: flex
					flex-direction: column
					align-items: flex-end
					.progress
						background: $blue
						color: white
						text-align: center
						padding: 25px 30px
						margin-top: 45px
						width: calc(100% - 55px - 10px)
						.progress-bar
							width: 100%
							height: 10px
							border-radius: 4px
							background: #fff
							margin-top: 15px
							.bar
								background: $yellow
								border-radius: 4px
								height: 100%
					&.signs-buttons
						background: #F7F7F7 !important
						padding: 20px
						height: calc(100% - 840px)
						.insert
							justify-content: space-between
						a
							background: linear-gradient(90deg, #37B8E8 0%, #0890C4 100%)
							height: 36px
							color: white
							border-radius: 5px
							display: flex
							align-items: center
							justify-content: center
							min-width: 36px
							padding: 5px 10px
							@extend %shadow
							span
								margin-right: 25px
							&:hover
								background: linear-gradient(90deg, #0890C4 0%, #37B8E8 100%)
							&.back
								img
									transform: rotate(180deg)
					&.sign-item
						padding: 10px 20px
						&:nth-child(2n)
							@extend %shadow
							z-index: 1
						.insert
							align-items: center
							color: #2C3E50
							font-size: 16px
							.icon
								margin-top: 0
								margin-left: 0
							.name
								width: calc((100% - 50px - 20px) * .6)
							.sign-date
								width: calc((100% - 50px - 20px) * .4)
								text-align: right
					.insert
						display: flex
						min-width: 100%
						.date
							font-family: Museo700
							font-size: 14px
							color: #2C3E50
							min-width: 55px
						.icon
							border-radius: 50%
							min-width: 50px
							width: 50px
							height: 50px
							margin: -5px 20px 0 10px
							overflow: hidden
						.text
							font-family: Museo300
							font-size: 14px
							color: #2C3E50
							min-width: calc(100% - 55px - 10px - 50px - 20px)
					&:nth-child(2n)
						background: white
		.for-map
			width: 26%
			a.modal-add-problem-init
				background: $blue
				height: 45px
				width: 300px
				display: flex
				align-items: center
				justify-content: center
				top: 40px
				color: white
				@extend %center
			#map-problem
				height: 100%
