@import "common-components/variables"

main
	background: $gray-bg

.middle-main
	.middle-main-title
		margin-bottom: 20px
	.user-problems-list
		display: flex
		flex-wrap: wrap
		justify-content: space-between
		.problem-item:nth-child(4n)
			margin-left: 0

.left-sidebar
	.user-container
		background: #fff
		display: flex
		flex-direction: column
		padding: 30px 15px 95px
		align-items: center
		justify-contnent: flex-start
		.user-avatar
			width: 90px
			height: 90px
			margin-bottom: 30px
			border-radius: 50%
			overflow: hidden
		.user-name
			font-size: 20px
			color: #2C3E50
		.city
			font-size: 34px
			color: #2C3E50
			line-height: 1em
			margin-top: 12px
	.counter
		margin-top: 30px
		display: flex
		align-items: flex-start
		padding-left: 40px
		font-family: Museo300
		font-size: 16px
		color: #2C3E50
		span
			margin-right: 12px
			width: 30px
			text-align: right
			font-size: 25px