@import "common-components/variables"

main
	.initiatives-container
		width: 1130px
	&.inner-page
		.undercover
			color: white
			.title
				font-size: 40px
				font-family: Museo900
				margin-bottom: 40px
				line-height: 40px
				text-align: center
			.defendant
				display: flex
				align-items: center
				justify-content: center
				.text
					p
						font-size: 25px
						font-family: Museo700
						color: #D9DEE0
						&.name
							color: white
							margin-bottom: 10px
				.avatar
					width: 99px
					height: 99px
					border-radius: 50%
					overflow: hidden
					margin-right: 20px

		.cover
			.flex
				.number-item
					width: auto
				a
					width: 380px
					height: 60px
					border-radius: 30px
					background: #FF4A39
					display: flex
					align-items: center
					justify-content: center
					font-size: 20px
					font-family: Museo700
					color: white
					@extend %transition
					svg
						margin-right: 20px
						width: 18px
						height: auto
						fill: white
					&:hover
						background: $yellow
		.for-tabs
			.tabs
				.tab
					.item
						.content
							.text
								.title
									font-size: 25px
									font-family: Museo500
									line-height: 31px
									color: #2C86C2
								.description
									font-family: Museo500
									font-size: 25px
									line-height: 31px
									margin-top: 20px